body{
    background-color: #393E46;
}
h1{
    font-family: 'Lobster', cursive;
    color: #4ECCA3;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    margin: 30px;

}
p{
    font-family: 'Indie Flower', cursive;
    color: #4ECCA3;
    font-size: 2rem;
}
img{
    width: 80%;
}
footer{
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

.container{
    text-align: center;
    width: 70%;
    margin: auto;
}
.dice{
    display: inline-block;
    
}
.fa-solid{
    color: red;
    text-shadow: none;
}

@media (max-width:950px) {
    h1{
        font-family: 'Lobster', cursive;
        color: #4ECCA3;
        text-shadow: 5px 0 #232931;
        font-size: 5rem;
        margin: 30px;
    
    }
}
