body{
    background-color: #393E46;
    text-align: center;
}
h1{
    font-family: 'Ubuntu', sans-serif;
    color: aquamarine;
    font-size: 5rem;
    margin: 7% 15% 0;
}
p{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.grid{
    padding: 7% 15%;
}
.gameIcon{
    width: 200px;
}